body {
  padding: 0;
  margin: 0; }

.text--overline {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.26em;
  text-transform: uppercase;
  margin: 0; }

.text--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 53px;
  line-height: 62px;
  margin: 30px 0; }

.button {
  background: #377CFD;
  color: white;
  padding: 15px;
  min-width: 200px;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.05em; }

.landing {
  position: relative;
  width: 100%;
  min-height: 100vh; }
  .landing__header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 89px;
    width: 100%;
    box-sizing: border-box;
    background: white;
    z-index: 5; }
  .landing__main {
    padding-top: 110px; }
    .landing__main .landing__block {
      display: block; }
  .landing__block {
    display: none;
    position: relative;
    padding: 30px 0; }
    .landing__block__img {
      width: 100%; }
    .landing__block__action_img {
      width: 400px;
      position: absolute;
      right: 89px;
      bottom: -89px; }
    .landing__block__bg_action {
      position: absolute;
      bottom: 89px;
      right: 89px; }
      .landing__block__bg_action--center {
        right: unset;
        left: 50%;
        transform: translate(-50%, 0); }
      .landing__block__bg_action--bottom {
        bottom: 30px; }
    .landing__block--with-markup {
      padding: 89px; }
    .landing__block--with-dividers-bottom {
      padding: 30px 0 60px; }
      .landing__block--with-dividers-bottom:after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 100%;
        content: '';
        background: #012969; }
    .landing__block--with-dividers-top {
      padding: 60px 0 30px; }
      .landing__block--with-dividers-top:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        content: '';
        background: #012969; }
    .landing__block--with-dividers {
      padding: 60px 0; }
      .landing__block--with-dividers:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        content: '';
        background: #012969; }
      .landing__block--with-dividers:after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 100%;
        content: '';
        background: #012969; }
    .landing__block--no-padding {
      padding: 0; }

.actions-row {
  display: flex;
  align-items: center;
  justify-content: center; }
  .actions-row__wrapper__button:first-child {
    margin-right: 30px; }
