.button {
  background: #377CFD;
  color: white;
  padding: $space / 2;
  min-width: 200px;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.05em;
}
